# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtualenv
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
uploads/
media/

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env